$main-background: #ff9300;
$button-background: #982292;
$faded-background: rgba(255,255,255,0.4);

@mixin light-font {
  font-family: helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body {
  background: $main-background;
  @include light-font;
}
