$main-background: #ff9300;
$button-background: #982292;
$faded-background: rgba(255,255,255,0.4);

@mixin light-font {
  font-family: helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

body {
  background: $main-background;
  @include light-font;
}

h1 {
    text-align: center;
    position: relative;
    margin: 40px;
    font-weight: 100;
    color: #ff0000;
}

#todo-list {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  background: -webkit-linear-gradient(legacy-direction(red), white);
  background: linear-gradient(#ff9300, #ffb44d);
  padding: 14px;
  text-align: center;
  box-shadow: 0px 3px 10px #313030;
  border-radius: 10px;
}

input {
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 100;
    color: #494949;
    padding: 11px;
    text-align: center;
}

button {
    padding: 14px;
    background: rgba(255, 90, 0, 0.74);
    outline: none;
    border-radius: 5px;
    border: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-left: 10px;
    &:hover {
      cursor: pointer;
      background: rgba(255, 90, 0, 0.22);
    }
}

ul {
  width: 50%;
  margin: 0 auto;
  text-align:left;
}

li {
    margin: 10px 0 10px -20px;
    list-style-type: circle;
}

footer {
  border-top: 1px dashed #000;
  padding-top: 20px;
}

footer span, footer a {
  margin: 10px;
}

a {
  color: rgb(255,65,0)
}
